<table mat-table [dataSource]="tabela" class="mat-elevation-z8">

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let tabela"> {{tabela.nome}} </td>
  </ng-container>


  <ng-container matColumnDef="apelido">
    <th mat-header-cell *matHeaderCellDef> Apelido </th>
    <td mat-cell *matCellDef="let tabela"> {{tabela.apelido}} </td>
  </ng-container>

  <!-- Weight Column
  <ng-container matColumnDef="raca">
    <th mat-header-cell *matHeaderCellDef> Raça </th>
    <td mat-cell *matCellDef="let tabela"> {{tabela.raca}} </td>
  </ng-container>


  <ng-container matColumnDef="especie">
    <th mat-header-cell *matHeaderCellDef> Espécie </th>
    <td mat-cell *matCellDef="let tabela"> {{tabela.especie}} </td>
  </ng-container>


  <ng-container matColumnDef="nomeDono">
    <th mat-header-cell *matHeaderCellDef> Nome do dono </th>
    <td mat-cell *matCellDef="let tabela"> {{tabela.nomeDono}} </td>
  </ng-container>

  <ng-container matColumnDef="telefoneDono">
    <th mat-header-cell *matHeaderCellDef> Telefone do dono  </th>
    <td mat-cell *matCellDef="let tabela"> {{tabela.telefoneDono}} </td>
  </ng-container>
--><tr mat-header-row *matHeaderRowDef="dispayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: dispayedColumns;"></tr>
</table>


